# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.production

# Test coverage
coverage/
*.lcov

# Cache
.cache
.eslintcache
.stylelintcache
*.tsbuildinfo

# Misc
*.pem
.npmrc
.yarnrc

# VitePress
user-docs/.vitepress/dist
user-docs/.vitepress/cache

# Lerna
lerna-debug.log
